body{
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-img{
	width: 100%;
	height: 0px;
	padding-bottom: 180%;
	background-image: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
}
.bg-border{
	width: 100%;
	height: 0px;
	padding-bottom: 180%;
	background-image: url(../img/bg-border.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.layout{
	z-index: 3;
}
.top{
	padding-top: 40px;
	padding-bottom: 10px;
}
.dash{
	padding-top: 10px;
	padding-bottom: 30px;
}
.padding-right{
	padding-right:40px;
}
.down .mobile{
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
}
.mobile .mobile-border{
	position: relative;
	z-index: 5;
}
.mobile .mobile-content{
	position: absolute;
	z-index: 6;
	padding-left: 20px;
	padding-right: 80px;
	padding-top: 28px;
}
.mobile .mobile-content .mobile-content-bg{
	position: relative;
	z-index: 7;
}

.mobile-contetn-show{
	position: relative;
	z-index: 11;
}
.mobile .mobile-content .mobile-content-user{
	position: absolute;
	z-index: 10;
	top: 40%;
	left: 2%;
	padding-left: 25px;
	padding-right: 25px;
}
.animation{
	border-radius: 50%;
	animation: beat 0.8s ease 0.5s infinite normal;
}
.animation-icons{
	border-radius: 6px;
	animation: beat1 0.8s ease 0.5s infinite normal;
	-webkit-animation: beat1 0.8s ease 0.5s infinite normal;
}
@keyframes beat {
	0% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}

	50% {
		transform: scale(1.2);
		box-shadow:0 0 70px green;
	}

	100% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}
}
@-webkit-keyframes beat {
	0% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}

	50% {
		transform: scale(1.2);
		box-shadow:0 0 70px green;
	}

	100% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}
}
.animation-lock{
	border-radius: 6px;
	animation: beat_lock 0.8s ease 0.5s infinite normal;
}
@keyframes beat_lock {
	0% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}

	50% {
		transform: scale(1.3);
		box-shadow:0 0 70px green;
	}

	100% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}
}
@-webkit-keyframes beat_lock {
	0% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}

	50% {
		transform: scale(1.3);
		box-shadow:0 0 70px green;
	}

	100% {
		transform: scale(1);
		box-shadow:0 0 40px green;
	}
}
.animation1{
	border-radius: 6px;
	animation: beat1 0.8s ease 0.5s infinite normal;
	-webkit-animation: beat1 0.8s ease 0.5s infinite normal;
}
@keyframes beat1 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes beat1 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
.mobile .mobile-content .mobile-content-icon{
	position: absolute;
	z-index: 10;
	top: 30%;
	left: 30%;
}
.mobile .mobile-content .mobile-content-icon .moblie-content-icon-img{
	/*padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 15px;*/
	/*padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 20px;*/
	padding-top: 25px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 15px;
}
.mobile .mobile-content .mobile-content-lock{
	position: absolute;
	z-index: 10;
	top: 67%;
	left: 50%;
	padding-left: 25px;
	padding-right: 25px;
}
.black{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 0px;
	z-index: 2;
	padding-bottom: 180%;
	background-color: rgba(0,0,0,0.5);
}

.mobile .mobile-right-second{
	display: flex;
}
.mobile-right-second{
	padding-top: 60px;
}
.mobile-right-second .mobile-right-img1{
	padding-top: 45%;
}
.mobile-right-second .mobile-right-img2{
	padding-top: 45%;
}
.mobile-right-second .mobile-right-img3{
	padding-top: 40%;
}
.mobile-content .mobile-content-letter{
	position: absolute;
	z-index: 10;
	top: 12%;
	left: 12%;
	padding-left: 15px;
}
.mobile-content .mobile-content-chan{
	position: absolute;
	z-index: 10;
	top: 69%;
	left: 42%;
	padding-left: 7px;
	padding-right: 35px;
}
.mobile-content .mobile-content-love{
	position: absolute;
	z-index: 10;
	top: 14%;
	left: 28%;
	padding-left: 9px;
	padding-right: 35px;
}
.mobile-content .moblie-content-float{
	position: relative;
	z-index: 7;
}
.mobile-content .mobile-content-class{
	position: relative;
	z-index: 7;
}

.down .mobile-padding{
	padding-top: 25%;
}
.mobile-content .mobile-content-mouse{
	position: absolute;
	z-index: 11;
	top: -37%;
	left: 15%;
	padding-left: 7px;
	padding-right: 35px;
}
.mobile-content .mobile-content-class-tab{
	position: absolute;
	z-index: 10;
	top: 10%;
	left: 24%;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
.mobile-content .mobile-content-class-content{
	position: relative;
	z-index: 7;
}